<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>
You already have a horse by that name. Please find the horse listed on your <a href="/users/<%= current_user.slug %>">Account </a>.