<div class="display">
    <% if current_user.id == @horse.user_id %>
    <h1>Edit Horse</h1>
    <div id="error">
        <% if @error %>
            <%= @error %>
        <% end %>
    </div>
    <br>
    <form action="/horses/<%= @horse.slug %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <label>Horse Name: </label>
    <input type="text" name="name" id="horse_name"><br>

    <input type="submit" id="submit" value="Update">
    </form>

    <% else %>
    <h3>You do not have access to edit this listing.</h3>
    <% end %>
</div>