<div class="display">
    <h1>Horses</h1>
        <% @user.horses.each do |horse| %>
            <a href="/horses/<%= horse.slug %>"><%= horse.name %></a><br>
        <% end %>
        <br>
        <button><a href="/users/<%= @user.slug %>">Home</a></button>
    <br>
</div>