<div class="display">
    <h1>Horses</h1>
        <% current_user.horses.each do |horse| %>
            <a href="/horses/<%= horse.slug %>"><%= horse.name %></a><br>
        <% end %>
    <br>
        <button><a href="/horses/new">Add Horse</a></button>
</div>