<div class="display">
    <h1>Horses</h1>
        <% Horse.all.each do |horse| %>
            <a href="/horses/<%= horse.slug %>"><%= horse.name %></a><br>
        <% end %>
        <br>
        <button><a href="/account">Home</a></button>
    <br>
</div>