<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>
<h3>Either you already have a horse by that name or you need to enter a valid horse name.</h3>