<h1>Add Horse</h1>
<form action="/horses" method="post">
<label>Horse Name: </label>
<input type="text" name="name" id="horse_name"><br>

<label>Add Horse Show: </label>
<label>Name: </label><br>
<input type="text" name="horseshow[name]" id="horseshow_name"><br>
<label>Location: </label><br>
<input type="text" name="horseshow[location]" id="horseshow_location"><br>

<label>Add Points: </label>
<input type="text" name="prize" id="points_value"><br>
<input type="submit" id="submit" value="Add">
</form>