<div class="display">

    <h1>Add Horse</h1>

    <form action="/horses" method="post">
    <label>Horse Name: </label>
    <input type="text" name="name" id="horse_name"><br>

    <input type="submit" id="submit" value="Add Horse">
    </form>

</div>