<h1>Add Horse</h1>
<form action="/horses" method="post">
<label>Horse Name: </label>
<input type="text" name="name" id="horse_name"><br>

<label>Add Horse Show: </label>
<label>Name: </label><br>
<input type="text" name="horse_show[name]" id="horse_show_name"><br>
<label>Location: </label><br>
<input type="text" name="horse_show[location]" id="horse_show_location"><br>

<label>Add Points: </label>
<input type="text" name="points" id="points_value"><br>
<input type="submit" id="submit" value="Add">
</form>