<h3>You already have a prize for the horse and horseshow selected.</h3>
<h3>You can select a prize to edit <a href="/prizes">edit</a> an existing prize or <a href="/prizes/new">add</a> a new prize</h3>
