<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<h3>Please enter valid prize information.</h3>

<button><a href="/prizes/new">Add Prize</a></button><br>
