<h1>Add Prize</h1>

<form action="/prizes" method="post">
    <h2>Horse</h2>
        <label for="horse_name">Name</label>
            <input type="text" name="horse_name" id="horse_name"><br>
<h3>Horse Show: </h3>
    <label>Name: </label><br>
        <input type="text" name="horseshow[name]" id="horseshow_name"><br>
    <label>Location: </label><br>
        <input type="text" name="horseshow[location]" id="horseshow_location"><br>

<label>Add Points: </label><br>
    <input type="text" name="point_total" id="points_value"><br>
    
    <input type="submit" id="submit" value="Add Prize">
</form>