<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<h3>You do not have access to this listing.</h3>
