<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">
    <h1>Horse Shows</h1>
        <% current_user.horseshows.uniq.each do |show| %>
            <a href="/horseshows/<%=show.id %>"><%= show.name%></a>: <%= show.location %><br>
        <% end %>
    <br>
</div>