<nav>
    <button class="home"><a href="/"><strong>Home</strong></a></button>
    <button class="logout"><a href="/logout"><strong>Logout</strong></a></button>
</nav>

<div class="display">
    <h1>Horse Shows</h1>
        <% sort_horseshows_from_current_user.each do |show| %>
            <%= show.format_date %> <a href="/horseshows/<%=show.id %>"><%= show.name%></a><br>
            Location: <%= show.location %><br><br>
        <% end %>
    <br>
</div>