<div class="display">
    <h1>Horse Shows</h1>
    <table>
    <th>Date</th>
    <th>Name</th>
    <th>Location</th>
        <% Horseshow.all.each do |show| %>
            <tr>
            <td><%= show.format_date %></td> 
            <td><a href="/horseshows/<%=show.id %>"><%= show.name%></a></td>
            <td><%= show.location %></td>
            </tr>
        <% end %>
        </table>
    <br>
</div>