<h1>Add Horseshow</h1>
<form action="/horseshows" method="post">
<label for="name">Name: </label>
<input type="text" name="name" id="name"><br>
<label for="location">Location: </label>
<input type="text" name="location" id="location"><br>
<input type="submit" value="Add Horseshow">
</form>